.slide-btn {
    display: block;
    transition: all .5s;
    padding-left: 30px;
    width: fit-content;

    & a{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        width: fit-content;
    }
    & b{
    font-weight: 600;

    }
    & .lines{
        width: 42px;
        height: 1px;
        float: left;
        overflow: hidden;
        transition: .25s ease-in-out;
    }
    
}
.slide-btn .lines span:nth-child(1) {
    width: 100%;
    height: 1px;
    float: right;
    background: #fff;
    transition: .25s ease-in-out;
  }
  
   .slide-btn .lines span:nth-child(2) {
    width: 0;
    height: 1px;
    float: left;
    background: #fff;
    transition: .25s ease-in-out;
  }
  
  .slide-btn:hover .lines {
    width: 62px;
    margin-left: 20px;
  }
  
  .slide-btn:hover .lines span:nth-child(1) {
    width: 0;
  }
  
  .slide-btn:hover .lines span:nth-child(2) {
    width: 100%;
    transition-delay: 0.20s;
  }
  
 .slide-btn .video-play-circle {
    stroke-dasharray: 315;
    stroke-dashoffset: 315;
    transition: stroke-dashoffset .5s;
  }
  
  .slide-btn svg {
    width: 50px;
    height: 50px;
    transition: transform .3s;
    margin-left: -25px;
    margin-right: 15px;
  }
  
   .slide-btn:hover .video-play-circle {
    stroke-dashoffset: 0;
  }